<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabrielle's Web Page</title>
    <h1> Welcome to Gabrielle's Page</h1>
    <h2> About Gabrielle</h2>
        <p> Gabrielle is a senior Information Systems major at the University
        of Maryland, College Park. She works in the Undergraduate Deans office
        as a front desk assistant, she is a Resident Assistant, and she is the
        co-chair of Mentorship for the Women's Empowerment Institute. In her free time, she enjoys:</p>
           <!-- This creates an unordered list (bullet points) of things Gabrielle enjoys. -->
            <ul>
                <li> watching shows on Netflix </li>
                <li> reading for fun </li>
                <li> spending time with friends</li>
                <li> trying new restaurants </li>
            </ul>


    <h2> Gabrielle's Netflix Favorites</h2>
        <p> Gabrielle enjoys watching different shows on Netflix.
            Here are her recommendations. The bolded shows are her favorite shows  <em> of all time. </em> </p>
        <!-- This creates an ordered list (numbered) of shows Gabrielle enjoys. -->
        <ol>
            <li> Love Is Blind </li>
            <li><strong> You </strong></li>
            <li> Stranger Things </li>
            <li> Selling Sunset</li>
            <li> <strong> Girlfriends </strong> </li>
        </ol>

    <!-- This creates a table where Gabrielle can view her Information Systems Course History -->
    <h2> Gabrielle's Smith Information Systems Course History</h2>
        <table style="width:100%">
            <tr>
                <th> Smith Class </th>
                <th> Semester Taken </th>
            </tr>
            <tr>
                <th> BMGT301 </th>
                <th> Spring 2021</th>
            </tr>
            <tr>
                <th> BMGT302 </th>
                <th> Fall 2021 </th>
            </tr>
             <tr>
                <th> BMGT402 </th>
                <th> Spring 2022 </th>
            </tr>
             <tr>
                <th> BMGT403 </th>
                <th> Fall 2022 </th>
            </tr>
             <tr>
                <th> BMGT407 </th>
                <th> Spring 2023 </th>
            </tr>
        </table>
    <h2> Gabrielle's Favorite Websites </h2>
        <p> Gabrielle loves to shop at <a href="https://www.nordstrom.com/"> Nordstrom</a></p>
        <p> Gabrielle (as you know) likes to watch shows on <a href="https://www.netflix.com/browse">Netflix</a></p>



    <p><a href="http://localhost:63342/helloWorld2/templates/about.html" target="_blank">
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267"
         height="72" alt="Smith Logo"></a></p>





</head>
<body>

</body>
</html>